@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, sans-serif
}

header {
    padding: 0% 15%;
    margin: 0%;
    background-color: #27242b;
    border-bottom: solid 2px #322f36;
}

.logo1 {
    width: 100%;
}

.content1 {
    padding-top: 5%;
    background-color: #27242b;
}

@media screen and (max-device-width: 768px) {
    header a {
        display: none;
    }
    .logo1 {
        width: 100%;
    }
    h1 {
        font-size: large;
    }
    h5 {
        font-size: x-small;
    }
    .content1>div>p {
        font-size: x-small;
    }
    .content1>div>button {
        font-size: x-small;
    }
    .content1 {
        height: 55vh !important;
    }
    .content2>div>figure>img {
        width: 100%;
    }
    h3 {
        font-size: larger;
    }
    h3+p {
        font-size: x-small;
    }
    .icon {
        display: none;
    }
    .content3 div .row div {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .icon-right {
        text-align: center;
        display: flex;
        justify-content: center !important;
        flex-direction: row-reverse !important;
        width: auto;
    }
    .icon-right img {
        width: 5vh !important;
    }
    .icon-right>p {
        padding: 0% !important;
        padding-left: 25% !important;
        text-align: center;
    }
    .icon-left {
        text-align: center;
        display: flex;
        justify-content: center !important;
    }
    .icon-left+p {
        padding: 0%;
        text-align: center;
    }
    .part1 {
        width: auto;
    }
    .content4 img {
        width: 30%;
    }
    .content4 p {
        font-size: x-small;
    }
    .content5 figure img {
        width: 160%;
        padding-left: 40%;
    }
    .content5 figure figcaption {
        padding-left: 20%;
        font-weight: bold;
    }
    .content5 h3 {
        text-align: center !important;
    }
    .screen figcaption {
        text-align: center !important;
    }
    .content6 {
        display: block;
    }
    .content3>.container-fluid>.row {
        display: block !important;
    }
    .content5>.container-fluid>.row {
        display: block !important;
    }
    .content6>.container-fluid>.row {
        display: block !important;
    }
    .content5>.container-fluid>.row>.col>figure {
        text-align: center !important;
    }
    .content6>.container-fluid>.row>.col {
        text-align: center !important;
    }
    .titre {
        display: none;
    }
    .content7>.container-fluid>.row {
        display: block !important;
    }
    .content7>.container-fluid>.row>.col {
        text-align: center !important;
        padding: 0% !important;
        padding-top: 5% !important;
    }
    .content7>.container-fluid>.row>.col>p {
        padding: 0% !important;
    }
    .content7>.container-fluid>.row>.col-5 {
        padding-left: 20%;
        width: 100%;
        text-align: center !important;
        margin: 0;
        padding-right: 20%;
    }
    footer>.container-fluid>.row {
        display: block !important;
        text-align: center !important;
    }
    footer>.container-fluid>.row>.col>figure {
        text-align: center !important;
    }
    footer>.container-fluid>.row>.col>figure>.col {
        width: 10% !important;
    }
}